@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body{
  background-color: #282c34;
}
.Baza{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}
.container{
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
#root{
  
}

/* анимация */
/* указывается имя post которое было указано в CSSTransition */
.item-enter {
  transform: translateX(-350px);
}
.item-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}











.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.NavbarHeader{
  color: rgb(97, 218, 251);
}
.CounterBlock{
  /* display: grid;
  grid-template-columns: repeat(3,200px); */
  /* height: 100%; */
  border: 3px solid rgb(97, 218, 251);
}
/* .CounterBlock button{
  height: 100%;
} */


.post{
  display: flex;
  padding: 15px;
  border: 2px solid rgb(97, 218, 251);
  margin-top: 15px;
  justify-content: space-between;
  align-items:center;
  text-align: left;
  border-radius: 5px;
  /* background: rgba(97, 218, 251, 0.116); */
}

.PostComponent h1{
  /* padding-top: 15px; */
}

.WrongAnswer{
  background: rgba(255, 66, 66, 0.432);
}
.PostForm{
  margin-bottom: 100px;
}

.page__wrapper{
    margin-top: 30px;
    display: flex;

}
.page{
  padding: 10px;
  border: 1px solid rgb(97, 218, 251);
  cursor: pointer;
}
.page__current{
  background-color: rgba(97, 218, 251, 0.226);
  border: 2px solid rgb(97, 218, 251);
  font-weight: bold;
}
.navbar{
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
  background-color: rgb(97, 218, 251);
  margin-bottom: 20px;
}

.navbar__links{
  /* margin-left: auto; */
  display: flex;
  justify-content: space-between;
  max-width: 150px;
  margin: auto;
}
.navbar__links a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
}